.App {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .App {
    padding: 5em;
  }
}

.divider {
  width: 100%;
  margin-bottom: 30px;
}

.contentSection{
  margin-top: 1.4em;
}

.stepSection {
  margin-top: 1.4em;
}

.nextButton {
  margin-top: 1em;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.questionLabel {
  margin-bottom: 10px;
}

.attemptsTable{
  overflow-x: 'auto'
}
