.App {
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nextButton {
  margin-top: 1em;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.questionLabel {
  margin-bottom: 10px;
}
