.AppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding-bottom: 2em;
}
@media (min-width: 1024px) {
  .App {
    padding: 5em;
  }
}

.divider {
  width: 100%;
}

.stepSection {
  margin-top: 1.4em;
}

.nextButton {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.question:last-of-type {
  margin-bottom: 0;
}

.questionLabel {
  margin-bottom: 0.5em;
}

.arrowForwardIcon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2em;
}
@media (min-width: 905px) {
  .arrowForwardIcon {
    display: none;
  }
}

.attemptSection {
  padding: 10px;
  margin-bottom: 2em;
  width: 800px;
  border: 1px solid #EDC5AB;
}

.attemptQuestions {
  display: flex;
  flex-direction: column;
}
